.home-userConnected {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    .aside-cards {
        width: 35%;
    }
    .scroll-to-top {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        bottom: 50px;
        right: 50px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 10px;
        background-color: #FFF;
        box-shadow: $shadow;
        cursor: pointer;
        transition: 0.3s;
        img {
            @include filterColor;
            width: 100%;
            height: 100%;
        }
    }
    .admin {
        bottom: 110px;
    }
    .add-place {
        position: fixed;
        bottom: 50px;
        right: 50px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 10px;
        background-color: $color-1;
        box-shadow: $shadow;
        cursor: pointer;
        &:hover img {
            transform: rotate(180deg);
        }
        img {
            transition: 0.3s;
            filter: invert(100%);
            width: 100%;
            height: 100%;
        }
    }
    .blur-everything {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: #000;
        opacity: 0.5;
    }
}

.home-userNotConnected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-family: $font-title;
            font-size: 64px;
            text-align: center;
            color: #FFF;
            margin-bottom: 20px;
            @include phone-format {
                font-size: 32px;
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            button {
                width: 30vw;
                padding: 20px;
                border-radius: 10px;
                border: 2px solid $color-1;
                margin-bottom: 20px;
                background-color: #FFF;
                font-family: $font-title;
                font-size: 20px;
                transition: 0.3s;
                @include phone-format {
                    width: 50vw;
                    font-size: 16px;
                }
                &:hover {
                    cursor: pointer;
                    background-color: $color-1;
                    color: #FFF;
                }
            }
        }
        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -100;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            filter: brightness(50%);
        }
    }
}