.home-userConnected {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    .aside-cards {
        width: 35%;
    }
}

.home-userNotConnected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-family: $font-title;
            font-size: 64px;
            text-align: center;
            color: #FFF;
            margin-bottom: 20px;
            @include phone-format {
                font-size: 32px;
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            button {
                width: 30vw;
                padding: 20px;
                border-radius: 10px;
                border: 2px solid $color-1;
                margin-bottom: 20px;
                background-color: #FFF;
                font-family: $font-title;
                font-size: 20px;
                transition: 0.3s;
                @include phone-format {
                    width: 50vw;
                    font-size: 16px;
                }
                &:hover {
                    cursor: pointer;
                    background-color: $color-1;
                    color: #FFF;
                }
            }
        }
        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -100;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            filter: brightness(50%);
        }
    }
}