.profil-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    @include phone-format {
        margin: 0 20px 20px;
    }
    h1 {
        margin: 20px 0;
        font-family: $font-title;
    }
    .form-auth {
        width: 50%;
        border-radius: 10px;
        box-shadow: $shadow;
        @include phone-format {
            width: 100%;
        }
        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            li {
                cursor: pointer;
                font-family: $font-title;
                font-size: 20px;
                width: 50%;
                text-align: center;
                padding: 10px 0 10px;
                border-bottom: 1px solid $color-1;
                @include phone-format {
                    font-size: 16px;
                }
            }
            .active {
                background-color: $color-1;
                color: #FFF;
            }
            li:first-child {
                border-radius: 10px 0 0 0;
            }
            li:last-child {
                border-radius: 0 10px 0 0;
            }
        }
    }
}