footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    padding: 20px 50px;
    box-shadow: $shadow;
    background-color: #FFF;
    position: relative;
    z-index: 99;
    @include phone-format {
        margin-top: 20px;
        padding: 20px 10px;
        flex-direction: column;
    }
    .presentation {
        max-width: 30%;
        @include phone-format {
            max-width: 100%;
            margin-bottom: 20px;
        }
        .logo-and-name {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            img {
                width: 50px;
                height: 50px;
                margin-right: 10px;
                @include phone-format {
                    width: 40px;
                    height: 40px;
                }
            }
            p {
                font-family: $font-title;
                font-size: 24px;
            }
        }
    }
    .contact {
        max-width: 30%;
        @include phone-format {
            max-width: 100%;
            margin-bottom: 20px;
        }
        .title {
            font-family: $font-title;
        }
        .way-of-contact {
            display: flex;
            align-items: center;
            margin-top: 10px;
            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
            p {
                cursor: pointer;
                &:hover {
                    color: $color-1;
                }
            }
        }
    }
    .help {
        max-width: 30%;
        @include phone-format {
            max-width: 100%;
        }
        .title {
            font-family: $font-title;
        }
        .infos {
            margin-top: 10px;
            cursor: pointer;
            &:hover {
                color: $color-1;
            }
        }
    }
}