.mySpace-container {
    width: 35%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: $shadow;
    .icon-and-number {
        display: flex;
        align-items: center;
        img {
            width: 36px;
            height: 36px;
            margin-right: 20px;
        }
        p {
            font-family: $font-title;
            font-weight: 700;
            font-size: 36px;
        }
    }
}