.researchContainer {
    width: 55%;
    .stageSelection {
        margin: 0 0 20px;
        display: flex;
        align-items: center;
        p {
            font-size: 20px;
        }
        select {
            font-size: 20px;
            color: $color-1;
            border: none;
            background-color: transparent;
            appearance: none;
            margin-left: -2.5px;
            &:focus {
                outline: none;
            }
        }
    }
    // .cards-container {
        
    // }
}